name: deploy to aks dev-env
on:
  workflow_dispatch:
  push:
    branches:
    - 'develop'

jobs:
  build: 
    uses: ./.github/workflows/CI-java-build-package-maven.yml
  deploy-dev:
    runs-on: ubuntu-latest
    needs: [build]
    environment: dev
    steps:
     # - name: Login to Docker Hub
      #  uses: docker/login-action@v2
       # with:
        #  username: ${{ secrets.DOCKER_HUB_USERNAME }}
         # password: ${{ secrets.DOCKER_REPOSITORY_PASSWORD }}
          
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_REPOSITORY_PASSWORD }}" | docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_REPOSITORY_PASSWORD"

