name: deploy to aks dev-env
on:
  workflow_dispatch:
  push:
    branches:
    - 'main'

jobs:
  build: 
    uses: ./.github/workflows/CI-java-build-package-maven.yml
    secrets: inherit
  deploy-dev:
    runs-on: ubuntu-latest
    env:
      DOCKER_HUB_USERNAME: sujinidocker # name of Docker Hub ID
      IMAGE_NAME: java-app
      IMAGE_TAG: ${{ github.run_number }}
      
      CLUSTER_NAME: myAKSCluster
      RESOURSE_GROUP: myResourceGroup
    needs: [build]
    environment: dev
    steps:
      - name: Display the path
        run: pwd
        shell: bash
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_REPOSITORY_PASSWORD }}
          
      
          
      #- name: Push Image to Docker Hub
       # run:
         # docker push $DOCKER_HUB_USERNAME/$IMAGE_NAME:$IMAGE_TAG
   
          
     # - name: Build and push Docker image.
       # uses: docker/build-push-action@v2
       # with:
         # context: .
         # file: Dockerfile
          #push: true
          #tags: ${{ secrets.DOCKER_HUB_USERNAME }}/java-app:${{ github.run_number }}
          
        # Set the target AKS cluster.
      - uses: Azure/aks-set-context@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          cluster-name: ${{ env.CLUSTER_NAME }}
          resource-group: ${{ env.RESOURSE_GROUP }}
          
      - uses: Azure/k8s-deploy@v1
        with:
          #namespace: dev
          manifests: |
            kubernetes/deployment.yml
          images: |
            sujinidocker/java-app:${{ github.run_number }}
            

          
      
          
          
          

