name: deploy to aks dev-env
on:
  workflow_dispatch:
  push:
    branches:
    - 'develop'

jobs:
  build: 
    uses: ./.github/workflows/CI-java-build-package-maven.yml
  deploy-dev:
    runs-on: ubuntu-latest
    needs: [build]
    env:
      DOCKER_REPOSITORY: sujinidocker
      CLUSTER_NAME: myAKSCluster
      RESOURSE_GROUP: myResourceGroup
    environment: dev
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_REPOSITORY_PASSWORD }}
        
        
       # Set the target AKS cluster.
    - uses: Azure/aks-set-context@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        cluster-name: ${{ env.CLUSTER_NAME }}
        resource-group: ${{ env.RESOURSE_GROUP }}
        
        
    - uses: Azure/k8s-deploy@v1
      with:
        namespace: dev
        manifests: |
          cd-deploy-dev.yaml          
      
